name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mysampleappv1:latest .

      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/mysampleappv1:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.E C2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/mysampleappv1:latest
            docker rm -f myapp || true
            docker run -d -p 80:80 --name myapp ${{ secrets.DOCKERHUB_USERNAME }}/mysampleappv1:latest
